{% extends 'base.html' %}

{% block content %}
<h1>Edit</h1>
{% if ride %}
<form method="POST" action="{% url 'edit_ride' ride.id %}">
    {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="destination">Destination address</label>
            <input type="text" class="form-control" name="destination" id="destination" placeholder="Address" value="{{ ride.destination }}" required>
        </div>
        <div class="form-group col-md-2">
            <label for="arrival_time">Required arrival time</label>
            <input type="text" class="form-control" name="arrival_time" id="arrival_time" placeholder="Required Arrival Time" value="{{ ride.required_arrival_time }}" required>
        </div>
        <div class="form-group col-md-2">
            <label for="number_of_passengers">Number of passengers</label>
            <input type="number" class="form-control" name="number_of_passengers" id="number_of_passengers" placeholder="Number of passengers" value="{{ ride.passenger_number_from_owner }}"
                required>
        </div>
        <div class="form-group col-md-2">
            <label for="can_be_shared"></label>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="can_be_shared" id="can_be_shared" {% if ride.can_be_shared %}checked{% endif %}>
                <label class="form-check-label" for="can_be_shared">
                    can be shared
                </label>
            </div>
        </div>
    </div>
    <div class="form-group col-md-4">
        <label for="vehicle_type">Vehicle type</label>
        <input type="text" class="form-control" name="vehicle_type" id="vehicle_type" placeholder="Vehicle type" value="{{ ride.requested_vehicle_type }}">
    </div>
    <div class="form-group col-md-4">
        <label for="special_request">Special request</label>
        <textarea type="text" class="form-control" name="special_request" id="special_request" placeholder="Special request"
            rows="3">{{ ride.special_reqeust }}</textarea>
    </div>
    <button type="submit" class="btn btn-primary col-md-12">Update a request</button>
</form>
{% else %}
    <h1>No ride info available</h1>
{% endif %}

{% endblock %}