{% extends 'base.html' %}

{% block content %}
<a href="{% url 'create_ride' %}" class="btn btn-info" role="button">Request a Ride</a>
<a href="{% url 'search_ride' %}" class="btn btn-success" role="button">Search</a>
<h1>Rides as Owner</h1>
{% if rides_as_owner %}
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">id</th>
                <th scope="col">owner</th>
                <th scope="col">destination</th>
                <th scope="col">required arrival time</th>
                <th scope="col">driver</th>
                <th scope="col">status</th>
                <th scope="col">action</th>
            </tr>
        </thead>
        <tbody>
                {% for ride in rides_as_owner %}
                    <tr>
                        <th scope="row">1</th>
                        <td>{{ ride.id }}</td>
                        <td>{{ ride.owner.username }}</td>
                        <td>{{ ride.destination }}</td>
                        <td>{{ ride.required_arrival_time }}</td>
                        <td>
                            {% if ride.driver %}
                                {{ ride.driver.driverProfile.real_name }}
                            {% endif %}
                        </td>
                        <td>{{ ride.ride_status }}</td>
                        <td><a href="{% url 'edit_ride' ride.id %}" class="btn btn-secondary" role="button">Edit</a></td>
                    </tr>
                {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>You don't have anything to display here</p>
{% endif %}

<h1>Rides as Sharer</h1>
{% if rides_as_sharer %}
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">id</th>
                <th scope="col">owner</th>
                <th scope="col">destination</th>
                <th scope="col">required arrival time</th>
                <th scope="col">driver</th>
                <th scope="col">status</th>
                <th scope="col">action</th>
            </tr>
        </thead>
        <tbody>
            {% for ride in rides_as_sharer %}
            <tr>
                <th scope="row">1</th>
                <td>{{ ride.id }}</td>
                <td>{{ ride.owner.username }}</td>
                <td>{{ ride.destination }}</td>
                <td>{{ ride.required_arrival_time }}</td>
                <td>
                    {% if ride.driver %}
                    {{ ride.driver.driverProfile.real_name }}
                    {% endif %}
                </td>
                <td>{{ ride.ride_status }}</td>
                <td><a href="{% url 'edit_ride' ride.id %}" class="btn btn-secondary" role="button">Edit</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>You don't have anything to display here</p>
{% endif %}

<h1>Rides as Driver</h1>
{% if rides_as_driver %}
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">id</th>
                <th scope="col">owner</th>
                <th scope="col">destination</th>
                <th scope="col">required arrival time</th>
                <th scope="col">driver</th>
                <th scope="col">status</th>
                <th scope="col">action</th>
            </tr>
        </thead>
        <tbody>
            {% for ride in rides_as_driver %}
            <tr>
                <th scope="row">1</th>
                <td>{{ ride.id }}</td>
                <td>{{ ride.owner.username }}</td>
                <td>{{ ride.destination }}</td>
                <td>{{ ride.required_arrival_time }}</td>
                <td>
                    {% if ride.driver %}
                    {{ ride.driver.driverProfile.real_name }}
                    {% endif %}
                </td>
                <td>{{ ride.ride_status }}</td>
                {% if ride.ride_status == 'confirm' %}
                <td>
                    <form method="POST" action="{% url 'complete_ride' ride.id %}">
                        {% csrf_token %}
                        <input type="hidden" />
                        <input type="submit" class="btn btn-secondary" value="Complete" />
                    </form>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>You don't have anything to display here</p>
{% endif %}

{% endblock %}